/*-------------------------------------------------------------------*/
/*---  mixin ---*/
/*-------------------------------------------------------------------*/

@mixin ellipse-text() {
  /* 長いテキストの最後に「...」をつけて省略する */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

